@page
@model HotelWebApp.Pages.ReservationsModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].CheckInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].CheckOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].CustomerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reservation.Where(r => r.CustomerName == "John Doe"))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td><td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
