@page
@model HotelWebApp.Pages.RoomSearchModel

<h1>Room Search Results</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Beds</th>
            <th>Size</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model.AvailableRooms)
        {
            <tr>
                <td>@room.Name</td>
                <td>@room.Beds</td>
                <td>@room.Size</td>
                <td>
                    <a asp-page="./ReserveRoom" 
                       asp-route-id="@room.Id" 
                       asp-route-start_date="@Request.Query["start_date"]" 
                       asp-route-stop_date="@Request.Query["stop_date"]">Make booking</a>
                </td>
            </tr>
        }
    </tbody>
</table>
